<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>events.html</title>
</head>
<body>
<p><a href="/">goto index("/")</a></p>
<p><a href="/products/1">goto product 1 page("/products/1")</a></p>
<p><a href="/products/2">goto product 2 page("/products/2")</a></p>
<p><a href="/products/2?promoCode=1232142">goto product 2 page with promoCode("/products/2?promoCode=1232142")</a></p>
<p><a href="/events/1">goto event 1 page("/events/1")</a></p>
<p><a href="/events/2">goto (finished)event 2 page ("/events/2")</a></p>
resources/param-webroot/products.html

<h1 th:text="${title}"></h1>
<p th:text="${content}"></p>
</body>
</html>