<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <th th:text="${member.id}">0</th>
            <th th:text="${member.name}">aaa</th>
        </tr>
        </tbody>
    </div>
</div>
</body>
</html>